$header-height: 50px;
$toolbar-height: 50px;
$formula-height: 34px;
$footer-height: 50px;
$border-color: #c0c0c0;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$dashboard-height: 80px;
$primary-color: #3c74ff;
