@import "variables";
@import "mixins";

.excel__formula {
  position: fixed;
  top: $header-height + $toolbar-height;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $formula-height;
  border-bottom: 1px solid $border-color;

  & .info {
    color: #999;
    border-right: 1px solid $border-color;
    min-width: $info-cell-width;
    height: 100%;
  }

  & mjx-container[jax="CHTML"][display="true"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
  }

  & .input {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
  }
}
