@import "variables";
@import "mixins";

.excel__toolbar {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  height: $header-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 7px 10px;

  & .button {
    @include button();
  }
}
